<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= event.name %></title>
</head>
<body>
    <h1><%= event.name %></h1>
    <p><strong>Date:</strong> <%= event.date %></p>
    <p><strong>Location:</strong> <%= event.location %></p>
    <p><%= event.description %></p>
    

    <!-- <a href="/events">Back to Events List</a> -->
</body>
</html>
